*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.bgcolor{
	background-color: rgba(32, 31, 31, 0.692);
}

.header .ul {
	text-align: center;
	position: absolute;
	text-decoration: none;
  }
  .header .ul .li {
	justify-content: space-between;
	display: inline-block;
	margin-top: 5px;
  }
  
  .nav-item {
	justify-content: center;
	align-items: center;
	margin: 5px;
	font-size: small;
	right: 5px;
  }